/* CSS styles for the navigation bar */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-container {
    width: 80px;
    overflow: hidden;
    background-color: transparent;
}

.logo {
    width: 100%;
    height: auto;
}

.header-text {
    font-size: 1.5em;
    margin-left: 20px;
}

nav {
    padding: 10px 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #66c0f4;
}

.navbar{
    
    flex: 1;
    align-items: -20%;
}
.header-text {
    font-family: 'Serif', sans-serif;
}
